.signup-header {
  min-height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #0b1c39;
}

@media (min-width: 575px) {
  .signup-header {
    font-size: 70px;
    min-height: 500px;
  }
}

/***************SIGNUP LEFT*********************/
.signup__left {
  background-image: linear-gradient(
    90deg,
    #b08ead 0%,
    #4b3049 64%,
    #b08ead 100%
  );
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  text-align: center;
  min-height: 400px;

  .signup__left__h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
  }

  .signup__left__p {
    font-size: 16px;
    line-height: 25px;
  }

  .already-login-btn {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    outline: none;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
      background-color: #fff;
      color: #ff2020;
    }
  }
}

@media (min-width: 1200px) {
  .signup__left {
    min-height: 500px;
  }
}

/***************SIGNUP RIGHT*********************/
.signup__right {
  .signup__right__heading {
    font-size: 26px;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 36px;
    font-weight: 700;
  }

  .form__input {
    background: #fff;
    width: 100%;
    height: 2.27rem;
    line-height: 1.5;
    color: #495057;
    outline: none;
    border: 0px solid transparent;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .signup-btn {
    display: block;
    width: 100%;
    padding: 18px 36px;
    background-color: transparent;
    color: #2577fd;
    border-radius: 5px;
    border: 1px solid #2577fd;
    transition: 0.5s;

    &:hover {
      background-color: #2577fd;
      color: #fff;
    }
  }
}
