.order-lg-first {
  .sidebar-fixed-toggler {
    display: block;
    position: fixed;
    left: 0;
    top: 49vh;
    width: 30px;
    height: 30px;
    z-index: 10002;
    color: #fff;
    border-radius: 3px;
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
    transform: translateX(0);
    transition: transform 0.35s;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  .sidebar-fixed-toggler__active {
    transform: translateX(300px);
  }
}

.products__pagination {
  width: 100%;
}

@media (max-width: 992px) {
  .products__product__sidebar {
    position: fixed;
    left: -300px;
    top: 0;
    bottom: 0;
    z-index: 10002;
    background-color: #fff;
    width: 100%;
    max-width: 300px;
    overflow-y: scroll;
    box-shadow: 0.1rem 0 0.6rem 0 rgba(51, 51, 51, 0.5);
    will-change: transform;
    visibility: hidden;
    transition: all 0.35s;
  }
  .products__product__sidebar__active {
    visibility: visible;
    transform: translateX(300px);
  }
}

@media (min-width: 992px) {
  .order-lg-first {
    .sidebar-fixed-toggler {
      display: none;
    }
  }
}
