.most-rated-container {
  h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 33px;
    font-weight: 700;
    color: #000000;
    line-height: 1;
    text-align: center !important;
  }
  p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #777777;
    line-height: 30px;
    text-align: center !important;
  }

  .btn-view {
    display: inline-block;
    background-color: #ff2020;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 0;
    line-height: 0;
  }
  .btn-view:hover {
    background-color: #4a4a4b;
  }
}
