.product {
  img {
    width: 100%;
    height: 20rem;
  }
  h3 a {
    display: block;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #444444;
    text-align: center !important;
  }
  span {
    display: block;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #ff2020;
    text-align: center !important;
  }
}
