/*******************GLOBALS*******************************/

// 1 spacer = 1px = 0.0625rem
$spacer: 0.0625rem;

$spacers: (
  0: 0,
);

// Spacer value ranging from 1 to 100
@for $i from 1 through 200 {
  $spacers: map-merge(
    $spacers,
    (
      $i: (
        $i * $spacer,
      ),
    )
  );
}

@import '~bootstrap/scss/bootstrap.scss';

/**Form styling**/
.form__wrapper {
  .form__heading {
    font-size: 26px;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 36px;
    font-weight: 700;
  }

  .form-submit-btn {
    display: block;
    width: 100%;
    padding: 18px 36px;
    background-color: transparent;
    color: #2577fd;
    border-radius: 5px;
    border: 1px solid #2577fd;
    transition: 0.5s;

    &:hover {
      background-color: #2577fd;
      color: #fff;
    }
  }
}
