.add__address-btn {
  width: 100%;
  background: #fff;
  font-size: 14px;
  font-weight: 500;
  color: #ff2020;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  text-align: start;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;

  &:focus {
    outline: none;
  }
}

.btn-address-change {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;

  &:focus {
    outline: none;
  }
}
