.address__form__wrapper {
  background-color: #fff5f7;
}

.address__form__heading {
  color: #ff2020;
  font-weight: 500;
}

.address__form__save-btn,
.address__form__cancel-btn {
  text-transform: uppercase;
  border: none;
  font-weight: 500;
  border-radius: 2px;
  cursor: pointer;
  font-size: 14px;

  &:focus {
    outline: none;
  }
}

.address__form__save-btn {
  padding: 14px 70px;
  background: #ff2020;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
}

.address__form__cancel-btn {
  color: #ff2020;
  background-color: transparent;
  margin-left: 20px;
  padding-right: 0;
}
