.faqs__heading {
  font-size: 18px;
  font-weight: 500;
}

.faqs__block__question {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
}

.faqs__block__answer {
  font-size: 14px;
}

.faqs__heading__span {
  margin-left: 10px;
  font-size: 14px;
  color: #777777;
}
